apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  namespace: default
spec:
  type: {{ .Values.service.type }}
  selector:
    app: myapp
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: 5000
